{#
This file is part of the Coupon plugin

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.
http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<script type="text/javascript">
    $(function () {
        $(".c-primaryCol").last().append($("#two_factor_auth_app_setting").detach());
    });
</script>

<div class="card rounded border-0 mb-4" id="two_factor_auth_app_setting">
    <div class="card-header">
        <div class="row">
            <div class="col-8"><span class="card-title">{{ 'admin.customer.2fa.app.title'|trans }}</span>
            </div>
            <div class="col-4 text-end">
                <a data-bs-toggle="collapse" href="#ordererInfo"
                   aria-expanded="false" aria-controls="ordererInfo">
                    <i class="fa fa-angle-up fa-lg"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="collapse show ec-cardCollapse" id="ordererInfo">
        <div class="card-body">
            <div class="row mb-2">
                <div class="col-3">
                    <span>{{ 'admin.customer.2fa.app.secret_key'|trans }}</span>
                </div>
                <div class="col">
                    {{ form_widget(form.two_factor_auth_secret) }}
                    {{ form_errors(form.two_factor_auth_secret) }}
                </div>
            </div>
        </div>
    </div>
</div>
